.patient-directory-card{
    width:15.5vw;
    height:30vh;
    background-color: rgb(178,237,255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left:1.5rem;
    margin-top:1.5rem;

}
.patient-details-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.patient-directory-card-img{
    width:5vw;
    height:10vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-color: rgb(217,217,217);
}
.patient-directory-card-name{
    font-size: 1.5rem;
    font-weight: 700;
}
.patient-directory-card-patientId{
    font-size: 1rem;
}
.patient-directory-card-buttons{
    display: flex;
    width:100%;
    justify-content: end;
    margin-right:2rem;
    margin-bottom:1rem;
}
.delete-icon{
    margin-right:0.75rem;
}
.title{
    font-weight: bolder;
}