.addHospitalForm{
    width:100vw;
    height:100vh;
    background-color: rgb(177,241,255);
}
.addHospitalHolder{
    display: flex;
}
.signupheader {
    display: flex;
    position: relative;
    align-items: center;
    /* justify-content: center; */
    background-color: #d4f5ff;
    height: 8vh;
    width: 100vw;
    box-shadow: 0 0 1vh rgba(0,0,0,1.1);
}

.signupheader p {
    font-size: 2.5vh;
    font-weight: bold;
    color: #000;
    margin-left:1vw;
}

.addFormLeft {
    /* display: flex; */
    /*flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 70vw;
    height: 85vh;
    background-color: rgb(212,245,255);
    margin:1.5%;
    border-radius: 20px;
    overflow: scroll;
}

.rowForm{
    display:flex;
    margin:1.5%;
    justify-content: space-between;
}

.columnForm{
    height:10vh;
}
.addFormHeading{
    font-size:4vh;
    font-weight:bold;
    display: flex;
    justify-content: center;
    margin:1.5%;
}
.namesForm{
    font-size: 2.5vh;
}
.single{
    width:66.5vw;
    border-radius: 15px;
    background-color: rgb(83,170,196);
}
.double{
    width:26vw;
    border-radius: 15px;
    background-color: rgb(83,170,196);
}
.checkboxText{
    color:red;
}
#confirm{
    width:1vw;
    height:2vh;
}
.checkbox{
    display: flex;
    justify-content: center;
}
.addHospitalButton{
    background-color: rgb(0,49,83);
    border-radius: 20px;
    width:20vw;
}
.buttonHolder{
    display: flex;
    justify-content: center;
}
/* .hospital{
    width:25vw;
} */
.rightBlocksAdd{
    display: flex;
    flex-direction: column;
    margin:1.5%;
    justify-content: space-between;
}
.Notification{
    display: flex;
    justify-content: center;
}