.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #008cba;
    color: white;
    border-radius: 1vh;
}

.custom-file-upload:hover {
    background-color: #005f5f;
}

input[type="file"] {
    display: none;
}

p {
    font-size: 1.5vh;
    margin-top: 1vh;
}

